<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.haruhi.bismark439.haruhiism"
    android:installLocation="preferExternal"
    >
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/appicoharuhi"
        android:label="@string/app_name"
        android:roundIcon="@drawable/appicoharuhi"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"

        >
        <activity
            android:name=".activities.MainNavigatorActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <!-- Widgets -->
        <receiver
            android:name=".widgets.providers.HaruhiWidgetProvider"
            android:exported="true"
            android:label="@string/surprise">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/haruhi_widget_info" />
        </receiver>
        <receiver
            android:name=".widgets.providers.MikuruWidgetProvider"
            android:exported="true"
            android:label="@string/melancholy">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/mikuru_widget_info" />
        </receiver>
        <receiver
            android:name=".widgets.providers.DayCounterProvider"
            android:exported="true"
            android:label="D-Day Counter">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/dday_widget_info" />
        </receiver>

        <activity
            android:name=".widgets.providers.ConfigurationActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>


        <receiver android:name=".system.alarms.AlarmReceiver" />
        <receiver android:name=".system.wallpapers.WallpaperReceiver" />
        <receiver
            android:name=".system.alarms.BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <action android:name="android.intent.action.REBOOT" />
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="android.intent.action.AIRPLANE_MODE_CHANGED" />
            </intent-filter>
        </receiver>

        <service android:name=".system.alarms.BootingService" />

        <activity android:name=".activities.AddAlarmActivity" />
        <activity
            android:name=".activities.alarm_screens.KyonSisterAlarmActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activities.alarm_screens.mikuru_alarms.MikuruPuzzleAlarmActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activities.alarm_screens.KoizumiAlarmScreenActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activities.alarm_screens.mikuru_alarms.MikuruOchaAlarmActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activities.alarm_screens.HaruhiAlarmScreen"
            android:launchMode="singleTop" /> <!-- WallPaper -->
        <service
            android:name=".wallPapers.YukiWallpaper"
            android:enabled="true"
            android:exported="true"
            android:label="@string/haruhiismLWP"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/yukiwallpaper" />
        </service>

        <activity
            android:name=".wallPapers.ActivityYukiLWPSettings"
            android:exported="true"
            android:label="YUKI SETTING" />

        <service
            android:name=".wallPapers.YukiNWall"
            android:enabled="true"
            android:exported="true"
            android:label="@string/yuki_n"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/yuki_n_wallpaper" />
        </service>
    </application>

</manifest>